.navbar.scrolled {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos principais da Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 15px 0px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Logo da navbar */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Links da navbar */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #4caf50; /* Cor para destacar ao passar o mouse */
}


@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Pode substituir por um menu hambúrguer */
  }
}



